@media(max-width:750px){
    #listitem li{
        flex-direction:column !important;
        align-items:left !important;
        gap:10px !important;
    }
    #listitem li button{
        width:100% !important;
        color:rgb(43, 49, 37) !important;
        font-weight:bold !important;
    }
    h2{
        text-align:center !important;
    }
    #addgap{
        margin:30px 0px !important;
    }
}
@media(min-width:750px){
    #listitem li{
        justify-content:space-between !important;
        padding:0px 10px  !important;
     }
}
@media(max-width:500px){
    h2{
        font-size:17px !important;
        text-align:center !important;
    }
}
.bg-custom-dark {
    background-color: #282828;
}

.bg-custom-yellow {
    background-color: #ffda66;
}

.text-custom-yellow {
    color: #ffda66;
}